.fleft {float:left}
.fright {float:right}
.fclear {clear:both}
.fcenter {float:none;text-align:center}
body {background-color:#E0F2F7;margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#0000}
a {color:#d7440b}
#wrapper {width:960px;margin:0 auto;background:url(images/background.jpg) top left no-repeat}
#menu {background:url(images/menu-bg.png) top center no-repeat;width:662px;height:71px;margin-left:298px;margin-top:10px}
#menu ul {list-style:none;margin:0;padding:0}
#menu ul li {padding:0;margin-left:15px;margin-top:15px;background:url(images/menu.png);width:91px;height:34px;float:left}
#menu ul li a {display:block;text-decoration:none;font-size:12px;font-weight:bold;cursor:pointer;color:#000;text-align:center;padding-top:7px}
#menu ul li a:hover {}
#banner {background:url(images/header-img.jpg) top center no-repeat;width:960px;height:282px}
#logo {margin-left:60px;padding-top:120px}
#content-box {width:860px;background:url(images/black-bg.png) top left repeat-x;margin-left:30px;padding:20px;margin-top:10px}
#welcome {float:left;clear:none;width:255px}
#news {float:left;clear:none;width:255px}
#event {float:left;clear:none;width:255px}
.divider {float:left;clear:none;border-left:1px solid #942a01;height:340px;margin-left:20px;margin-right:20px}
.title {font-size:20px;color:#d7440b;margin-bottom:15px}
.more-btn {text-align:right;margin-top:10px}
.sub-title {color:#d7440b;font-size:16px;text-decoration:underline}
.inner_copy {border:0;color:#f00;float:left;width:50% !important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
#h-divider {border-top:1px solid #942a01;margin-top:20px;margin-bottom:20px}	
#newsletter {background:#d7440b;width:246px}
#newsletter-top {background:url(images/newsletter-top.png) top left no-repeat;width:231px;height:23px;padding-left:15px;font-size:13px;padding-top:3px}
#signup-box input {background:#000;margin-left:15px;margin-top:15px;width:210px;height:25px;border:#000}
#unsubcribe {float:left;clear:none;padding-top:15px;margin-left:15px}
#unsubcribe a {color:#000;font-weight:bold;font-size:13px}
#subcribe-btn {float:right;clear:none;margin-right:15px;margin-top:10px;margin-bottom:15px}
#footer {font-size:15px;margin-top:30px;padding-bottom:10px}
#footer div {padding:0 15px}
ul, ol {
list-style:none;
}

.nav li a {
background-color:#5882FA;
color:#fff;
text-decoration:none;
padding:10px 15px;
display:block;
}
.nav li a:hover {
background-color:#088A08;
}
.nav > li {
float:right;
}
.nav li ul {
display:none;
position:absolute;
min-width:140px;
}
.nav li:hover > ul {
display:block;
}
<!--PROPIEDAD PARA LOS SUBMENUS-->
.nav li ul li {
position:relative;
}
.nav li ul li ul {
right:-140px;
top:0px;
}

/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
 font: bold 12px Verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:0px solid #aaa;
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}